<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MyNotificationExtension.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>MyNotificationService.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Tikeyc.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>widget.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>24</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4E2781061D61B20F003CA490</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4E2781221D61B210003CA490</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4E27812D1D61B210003CA490</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4E896F7B1DB74342005024B3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4E896F8C1DB74479005024B3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4E896F9C1DB74494005024B3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
